.feedboard-parent {
  position: fixed;
  width: 100vw;
}
.feedboard {
  float: left;
  width: 90%;
  height: 88.5vh;
}
.feeds {
  width: 100%;
  float: left;
}
.sorting-filters {
  height: 88.5vh;
  z-index: 400;
  border-radius: 1%;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.filter-button {
  display: none;
}
.pagination {
  margin-left: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.pagination-wraper {
  margin-bottom: 8rem;
}
/* .Loading{
  height: 10rem;
  width: 10rem;
} */
@media screen and (max-width: 1000px) {
  .feedboard {
    width: 100%;
  }
  .feeds {
    z-index: 300;
    height: 88.5vh;
    width: 100%;
    float: left;
    overflow: auto;
    z-index: 300;
    display: inline;
    position: fixed;
  }
}
